:root {
  --primary-color: #262B2C;
  --secondary-color: #DEE3E3;
  --tertiary-color: #869598;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* style the nav items */

a:hover {
  color: var(--secondary-color);
}


.middle
{
    position: relative;
}

.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height:3px;
  bottom: -3px;
  left: 0;
  background-color: var(--tertiary-color);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.middle:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

/* end nav style and animation */

#about-text ul{
  list-style-type: none;
}

#about-text ul li {
  margin-top: 5px;
}

/* create animations and design for skills on about page */

.skill {
  border: 2px solid var(--tertiary-color);
  transition: transform .2s;
}

.skill:hover {
  border: 2px solid var(--secondary-color);
  transform: scale(1.05);
}

/* finish skills */

.tertiary {
  color: var(--tertiary-color);
}

/* style footer links */

.grow img{
  transition: transform .2s;
}

.grow img:hover {
  transform: scale(1.2);
}

/* finish footer links */

/* style the contact page sections */

.contact-section {
  border: 2px solid var(--tertiary-color);
}

.btn-contact {
  border: 0 solid;
  background-color: var(--primary-color);
  box-shadow: inset 0 0 20px rgba(222, 227, 227, 0);
  outline: 1px solid;
  outline-color: rgba(222, 227, 227, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  margin: 10px 10px 20px 0;
} 

.btn-contact:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(222, 227, 227, .5), 0 0 20px rgba(222, 227, 227, .2);
  outline-color: rgba(222, 227, 227, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}

/* finish contact page */

/* style project image content */

.project-img {
  width: 100%;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(38, 43, 44, .75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  opacity: 0;
  transition: opacity .3s;
  backdrop-filter: blur(5px);
}

.project-overlay > * {
  transform: translateY(20px);
  transition: transform .3s;
}

.project-overlay:hover {
  opacity: 1;
}

.project-overlay:hover > * {
  transform: translateY(0);
}

.btn-project {
  background: none;
  color: var(--secondary-color);
}

.btn-project a {
  color: var(--secondary-color);
  text-decoration: none;
}

/* finish project page */